@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sales{
    margin-top: 80px;
    margin-left: 400px;
    background: linear-gradient(145deg, #d1d1d1, #f8f8f8);
    box-shadow:  9px 9px 18px #a2a2a2,
                 -9px -9px 18px #ffffff;
                 width: 450px;
                 height: 300px;
                 border-radius: 50px;
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
}
.sales>h1{
margin-left: -160px;
padding-bottom: 10px;
font-family: Oswald;
}
.sales>img{
    /* margin-left: 45px;
    margin-top: 15px; */
    border-radius: 10px;
    width: 350px;
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.389);
}